In [18]:
import pandas as pd 
df = pd.read_csv("Activities.csv")
df["distance"] = df["distance"]/1000
activities_zero_elevation = df.loc[
    (df["sport_type"].isin(["Run", "Ride"]))
    &
    (df["total_elevation_gain"] == 0),
    "id"
].to_list()
activities_zero_elevation[:3]

[8793517997, 8143895766, 8110311292]

In [24]:
df_elevation = df.loc[
    (df["sport_type"].isin(["Ride", "Run"]))
    &
    (df["total_elevation_gain"] == 0)
]
df_elevation[["id", "distance" ,"name", "sport_type"]].sort_values(by="distance", ascending=True).head(20)

,id,distance,name,sport_type
1374,644549916,0.0000,Lunch Run,Run
1531,316641644,0.0000,04/20/2015 España,Run
1426,563961111,0.0000,Lunch Run,Run
1393,579815642,0.0000,Lunch Run,Run
1299,1043144951,0.0000,Afternoon Run,Run
1445,429458562,0.1468,Morning Run,Run
1557,285932491,0.4982,"03/22/2015 Guadalajara, Castilla-La Mancha, Spain",Run
454,5147838423,0.7490,Afternoon Run,Run
276,6287157572,1.0381,Carrera a la hora del almuerzo,Run
1440,435158123,1.0602,Evening Run,Run
313,6002872293,1.1089,Morning Run,Run
78,8110311292,1.2112,Enfriar tras controlado,Run
417,5373046041,1.4009,Evening Run,Run
1441,435158118,1.5871,Evening Run,Run
884,2242714956,1.7879,Morning Run,Run
278,6287006784,1.8200,Carrera de mañana,Run
288,6193734205,1.8451,Morning Run,Run
377,5645479379,1.9580,Primera transi. Petada.,Run
349,5795605103,1.9923,Ojó la deshidrt.,Run
1562,285932500,2.2246,"03/15/2015 Guadalajara, Castilla-La Mancha, Spain",Run

In [11]:
for index, activity in enumerate(activities_zero_elevation):
    print(f"{index}: {activity} ")

0: 8793517997
1: 8143895766
2: 8110311292
3: 7934530628
4: 6944458438
5: 6884837423
6: 6860295286
7: 6846918706
8: 6844281225
9: 6853213619
10: 6817509518
11: 6811673608
12: 6808731090
13: 6808731067
14: 6808731031
15: 6780683821
16: 6762724738
17: 6739936080
18: 6737002602
19: 6728057411
20: 6696392828
21: 6687551889
22: 6670936562
23: 6661686345
24: 6652305207
25: 6630931630
26: 6626873652
27: 6600921878
28: 6590385899
29: 6580612397
30: 6575864124
31: 6563093793
32: 6545092531
33: 6545081397
34: 6562190386
35: 6516580432
36: 6511944404
37: 6502463451
38: 6481243053
39: 6475982886
40: 6475725615
41: 6475724548
42: 6373774404
43: 6373579543
44: 6373577300
45: 6363685609
46: 6351435717
47: 6322232201
48: 6318812907
49: 6302165963
50: 6298531826
51: 6287157572
52: 6287006784
53: 6287006191
54: 6262578045
55: 6262577300
56: 6222966814
57: 6222965977
58: 6207255674
59: 6193734205
60: 6193733823
61: 6193732043
62: 6131828817
63: 6131828573
64: 6125562676
65: 6115461354
66: 6115460638
67: 6039073181
68: 6028742484
69: 6002872293
70: 5975320227
71: 5970987670
72: 5958327510
73: 5931960661
74: 5917208616
75: 5917208250
76: 5883876966
77: 5862695766
78: 5846158943
79: 5832977859
80: 5814567526
81: 5795605103
82: 5795604900
83: 5773918363
84: 5749602174
85: 5746706189
86: 5746705819
87: 5725275767
88: 5719787267
89: 5707685971
90: 5693838265
91: 5683222780
92: 5679047285
93: 5664923904
94: 5656376438
95: 5645479379
96: 5645479321
97: 5603944555
98: 5554524724
99: 5517768383
100: 5453045075
101: 5407788772
102: 5382611131
103: 5382610596
104: 5373046041
105: 5268091536
106: 5147838423
107: 4962869565
108: 4706930012
109: 3793871635
110: 3296968963
111: 3400473138
112: 3239356569
113: 3208026373
114: 3400473041
115: 3197088666
116: 3197088489
117: 3197088378
118: 3180170392
119: 3164696066
120: 3101461089
121: 3091629074
122: 3054418455
123: 3054418426
124: 3044875007
125: 3044874807
126: 3021732393
127: 3021732283
128: 3008576069
129: 2996683231
130: 2763818814
131: 2745528664
132: 2242714956
133: 1398962276
134: 1393361769
135: 1241839873
136: 1220581679
137: 872143272
138: 872143290
139: 872143162
140: 1043144951
141: 690324358
142: 644550092
143: 644549916
144: 579815642
145: 563961294
146: 563961128
147: 563961111
148: 563961095
149: 563961044
150: 563961015
151: 435158123
152: 435158118
153: 429458562
154: 422997953
155: 419027814
156: 316641644
157: 285932491
158: 285932500

In [ ]:
            filtered_activities = self.df.loc[
                (self.df[self.sports_column].isin(self.sports))
                & (self.df[self.elevation_column] == self.elevation),
                self.id
            ].to_list()
    elevation: int = 0
    elevation_column: str = "total_elevation_gain"
    id: str = "id"
    sports: List[str] = ["Ride", "Run"]
    sports_column: str = "sport_type"
    df: pd.DataFrame